# Игнорирование всех файлов с этим расширениемы
*/.xcuserstate
**/xcuserdata/
**/xcschemes/xcschememanagement.plist

# Игнорирование этих файлов
ScheduleBSUIR.xcodeproj/project.xcworkspace/xcuserdata/andrew.xcuserdatad/UserInterfaceState.xcuserstate
