# Игнорирование

# Xcode
*.xcuserstate
*.xcuserdata
*.xcuserdatad
*.xcworkspace/

DerivedData/
*.xccheckout
*.xcscmblueprint
*.xcscheme
**/xcschemes/
**/xcschememanagement.plist

# Build
build/
*.ipa
*.dSYM.zip
*.dSYM
